.popup{
    resize: both;
    overflow: auto;
}
.form{

    font-family: OpenSan-Regular;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: auto;
    background-color: #ffffff;
    z-index: 100;
    padding: 24px;
    padding-bottom: 16px;
    border-radius: 4px;
}
.blur{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.4;
    z-index: 50;
}
.form-title{
    font-family: OpenSan-Semibold;
    font-size: 15px;
    margin-bottom: 16px;
}
.form-left, .form-right{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}
.form-left{
    border-right:1px solid #CCCCCC;
    padding-bottom: 80px;
    padding-right: 8px;
}
.form-content{
    display: flex;
}
.form-left-row{
    display: flex;
    align-items: center;
    position: relative;
}
.mar-r-16px{
    margin-right: 16px;
}
select{
    font-family: OpenSan-Regular;
    height: 32px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 4px 0px 0px 4px;
    padding: 0px 12px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}
select:focus{
     border: 1px solid #00d469;
}
select option{
    line-height: 28px;
    border-radius: 4px;
    margin-top: 8px;
    margin-left: 8px;
}


.btn-plus{
    height: 30px;
    width: 30px;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #CCCCCC;
    border-left: 0px;
    margin-left: -1px;
    margin-right: 16px;
    background-image: url('~@/assets/image/ic_Plus.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.radius{
    border-radius: 4px !important;
}
.form-left-row3{
    display: inline-flex;
    width: 100%;
}
.mount{
    flex-grow: 1;
    flex-basis: 0%;
    flex-shrink: 1;
}
.mount-row-2{
    display: flex;
}
.unit-text{
    font-size: 13px;
    line-height: 32px;
    padding: 0px 8px;
}
.unit{
    margin-right: 16px;
    min-width: 72px;
    position: relative;
}

.unit select{
    width: 100%;
}
.radio-row{
    margin-top: 8px;
    margin-right: 16px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.radio-button{
    display: flex;
    align-items: center;
}
.radio-button input{
    margin: 0px;
}
.radio-text{
    font-size: 13px;
    color:  #757575;
    margin-left: 8px;
}
.radio-button input[type="radio"]:not(:checked),
.radio-button input[type="radio"]:checked
{
    position: absolute;
    opacity: 0;
}
.radio-button input[type="radio"] + label{
    background-image: url('~@/assets/image/ic_Ratio_Inactive.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-color: #f5f5f5;
    border-radius: 16px;
}
.radio-button input[type="radio"]:checked + label{
    background-image: url('~@/assets/image/ic_Ratio_Active.svg');
}
.radio-button input[type="radio"]:hover .radio-button input[type="radio"] + label{
    background-image: url('~@/assets/image/ic_Ratio_Hover.svg');
}

/* form right */
.form-right{
    display: flex;
    padding-right: 60px;
}
.form-r-col{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding-left: 24px;
    padding-top: 24px;
}
.row-check{
    display: flex;
    align-items: center;
     margin-bottom: 24px;
}

.row-check input[type="checkbox"]:checked,
.row-check input[type="checkbox"]:not(:checked){
    position: absolute;
    opacity: 0;
    padding: 0px;
    margin: 0px;
}

.row-check input[type="checkbox"]:checked + label{
    
    background-image: url('~@/assets/image/ic_Checkbox_Active.svg');
    
}
.row-check input[type="checkbox"] + label{
    background-image: url('~@/assets/image/ic_Checkbox_Inactive.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    border-radius: 4px;
}
.row-check input.switch-btn[type="checkbox"]{
    width: 20px;
    height: 16px;
}
.row-check input.switch-btn[type="checkbox"]:checked + label{
    
    background-image: url('~@/assets/image/ic_Switch_active.svg');
    transform: rotate(180deg);
    z-index: -1;

}
.row-check input.switch-btn[type="checkbox"] + label{
    background-image: url('~@/assets/image/ic_Switch_Inactive.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
}

.col-row-text{
    font-family: OpenSan-Regular;
    font-size: 13px;
    color: #757575;
    margin-left: 8px;
}
.switch-check{
    width: 20px;
    height: 18px;
    background-image: url('~@/assets/image/ic_Switch_Inactive.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.switch-checked{
    background-image: url('~@/assets/image/ic_Switch_Inactive.svg');
}
.non-margin{

    margin: 0px;
}
.form-footer{
    display: flex;
    margin-top: 16px;
    height: 40px;
    justify-content: space-between;
}
.f-footer-left{
    display: flex;
    align-items: center;
}
.f-footer-right{
    display: flex;
    align-items: center;
}
.btn-close-form{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    background-image: url('~@/assets/image//ic_close_16.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.input{
    width: 100%;
    display: flex;
    position: relative;
}
.tooltip{
    background-color: #4d4f5c;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    padding: 10px 16px;
    position: absolute;
    left: 80%;
    top: 120%;
    width: max-content;
    box-sizing: border-box;
    z-index: 300;
}
.left-tooltip{
    background-color: #4d4f5c;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    padding: 10px 16px;
    position: absolute;
    left: calc(100% + 16px);
    top: 50%;
    width: max-content;
    box-sizing: border-box;
    z-index: 300;
}
.left-tooltip::before{
    content: '';
    border-right: 6px solid #4d4f5c;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: absolute;
    left: -6px;
    top: 50%;
    transform: translate(0,-50%);
}
.tooltip::before{
    content: '';
    border-bottom: 6px solid #4d4f5c;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    top: -5px;
    z-index: 200;
}
.required-outline{
    border: 1px solid #4d4f5c !important;
    border-radius: 4px;
}
.textbox{
    font-family: OpenSan-Regular;
    height: 32px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 0px 12px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.textbox:focus{
    outline: none;
    border: 1px solid #00d469;
}
.margin-r-16{
    margin-right: 16px;
}