.preload{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/image/messenger-typing-preloader.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    z-index: 200;
    background-color: #000000;
    opacity: 0.3;
}
.revenue{
    background: #EAECEF;
    width: 100%;
    height: calc(100vh - 46px);
}
.category{
    height: 40px;
    display: flex;
    background-color: #E0E0E0;
}
.category-item{
    padding: 0px 24px;
    line-height: 40px;
    font-size: 13px;
    color: #A6A6A6;
    position: relative;
    text-align: center;
    font-family: OpenSan-Semibold;
}
.category-item-active{
    background-color: #FFFFFF !important;
    color: #000000;
}
.category hr{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #009253;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: none;
}
.active-hr{
    display: block !important;
}
.grid{
    height: calc(100% - 40px);
    width: 100%;
    background-color: #FFFFFF;
}
label{
    font-size: 13px;
}
.filter-line{
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-left{
    margin-left: 16px;
    display: flex;

}
.filter-left label{
    margin-left: 10px;
}
.filter-right{
    display: flex;
}
.trash-btn{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    /* border: 1px solid #CCCCCC; */
    background-image: url('~@/assets/image/ic_Delete_32.svg');
    margin-left: 8px;
    margin-right: 16px;
    cursor: pointer;
}
.trash-btn:hover{
    background-color: #f8f8f8;
}
/* bảng dữ liệu */
.grid-list{
    padding-left: 16px;
    padding-right: 16px;
    width: calc(100% - 32px);
    height: calc(100% - 106px);
}
.th-text{
    line-height: 24px;
    margin-bottom: 12px;
    white-space: nowrap;
}
.tooltip-cell::before{
    content: '';
    position: absolute;
    border-top: 20px solid #4d4f5c;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    bottom: -18px;
}
.tooltip-cell{
    background-color: #4d4f5c;
    position: absolute;
    left: -10px;
    top: calc(-100% - 24px);
    width: fit-content;
    display: block;
    padding: 0px 16px;
    color: #ffffff;
    width: max-content;
    height: 32px;
    display: none;
}
.important{
    position: relative;
    height: 20px;
    width: 20px;
    background-image: url('../../../assets/image/ic_Info_20.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 12px;
    border-radius: 20px;
}
.important:hover .tooltip-cell{
    display: block;
}
.outline-table{
    border-collapse: collapse;
    overflow: auto;
    width: 100%;
    height: 100%;
    border: 1px solid #D5D8E6;
    z-index: 20;
    position: relative;
    padding-right: 0px;
}
.grid-list table{
    /* width: calc(100% + 2px); */
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
    /* min-width: 100%; */

}
.grid-list table tr{
    width: fit-content;
}
.grid-list table tr:nth-child(odd){
    background-color:#e5f3ff;
}
.grid-list table tr th{
    padding: 8px 8px;
    font-size: 13px;
    font-family: OpenSan-Semibold;
    border: 1px solid #D5D8E6;
    border-top: 0px;
    text-align: center;
    background-color:#f5f6fa;
    position: sticky;
    top: 0px;
}
.grid-list table tr th:first-child{
    border-left: none;
}
.grid-list table tr th:last-child{
    border-right: 0px;
}
.td-to-check{
    min-width: 60px;
}
.btn-filter{
    width: 100%;
    display: flex;
}
.btn-filter input{
    width: 100%;
    background-image: url('~@/assets/image/ic_Filter.svg');
    background-position: 0px;
    background-repeat: no-repeat;
    padding-left: 24px;
    border: 1px solid  #D5D8E6;
    height: 20px;
}
.btn-filter select{
    width: 100%;
    height: 20px;
    border: 1px solid  #D5D8E6;
}
.btn-filter input,select:focus{
    outline: none;
}
.grid-list table tr td{
    height: 32px;
    line-height: 32px;
    border: 1px solid  #D5D8E6;
    font-size: 13px;
    font-family: OpenSan-Regular;
    padding-left: 12px;
    padding-right: 12px;
}
.row-focus{
    background-color: #cce8ff !important;
}
.main-cell{
    display: flex;
    align-items: center;
}
.cell-link{
    color: #0997EB;
    cursor: pointer;
}
.grid-list table tr td:first-child{
    max-width: 36px !important;
    border-left: none;
}
.grid-list table tr td:last-child{
    border-right: none;
}
.line-forcus{
    background-color: #cce8ff;
}
.select-line{
    width: 16px;
    height: 16px;
    margin: auto;
    background-image: url('~@/assets/image/ic_Checkbox_Inactive.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.selected-line{
    background-image: url('~@/assets/image/ic_Checkbox_Active.svg') !important;

}
.cell-checking{
    width: 100%;
    height: 24px;
    background-image: url('~@/assets/image/ic_Check.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* end bảng dữ liệu */
.footer{
    height: 60px;
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
}
.result{
    font-size: 13px;
    font-display: OpenSan-Regular;
}
.count{
    font-family: OpenSan-bold;
}
.last-cell{
    display: flex;
    align-items: center;
}
.btn-edit, .btn-copy, .btn-delete{
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}
.btn-edit{
    background-image: url('~@/assets/image/ic_Edit.svg');
}
.btn-copy{
    background-image: url('~@/assets/image/ic_Duplicate_24.svg');
}
.btn-delete{
    background-image: url('~@/assets/image/ic_Remove2.svg');
}
.align-right-text{
    text-align: right !important;
}
.col-name-revenue{
    min-width: 350px;
}
.col-group-revenue{
    min-width: 200px;
}
.col-mount-revenue{
    min-width: 200px;
}
